.tabContainer {
  position: fixed;
  background-color: rgb(255, 143, 173);
  left: 0;
  right: 0px;
  bottom: 0;
  height: 8vh;
  border-top: 20%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  box-shadow: rgb(155, 231, 216) 0px -8px 0px -2px, rgb(189 189 189) 0px -9px 0px -2px, rgb(255, 244, 224) 0px -16px 0px -2px, rgb(189 189 189) 0px -17px 0px -2px;

  color: white;
  text-align: center;
  font-size: 1.3rem;
  /* padding-top: .3em; */
  height: 52px;
  line-height: 2.4;
  font-weight: 600;

}

.tabContainer::before {
  content: "+ ";
}