.tabContainer {
  position: fixed;
  background-color: rgb(255, 194, 210);
  left: 0;
  right: 0px;
  bottom: 0;
  height: 8vh;
  border-top: 20%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  box-shadow: rgb(186, 252, 212) 0px -8px 0px -1px, rgb(127, 179, 135) 0px -8.5px 0px -1px, rgb(255, 244, 224) 0px -16px 0px -2px, rgb(221, 205, 122) 0px -16.5px 0px -2px;

  /* 高度 */
  font-size: 1.3rem;
  height: 2.4em;

  color: white;
  text-align: center;

  /* padding-top: .3em; */
  line-height: 2.4;
  font-weight: 600;

}

.tabContainer::before {
  content: "+ ";
}

/* 大屏幕上不显示 */
@media screen and (min-width: 50em) {
  .tabContainer {
    display: none;
  }

}